html {
	background: #1e2021;
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.fs, body, main, html {
  width: 100%;
  height: 100%;
  margin: 0;
} 

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 96px;
  font-weight: 800;
  letter-spacing: 2px;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  z-index: 1;
}

.title:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.title-container {
  position: relative;
  display: inline-block;
  text-align: center;
}

.title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  filter: blur(100px);
  z-index: -1;
  transition: all 0.5s ease;
  -webkit-animation: hue-banner 30s infinite linear;
}

.title:hover::before {
  width: 170%;
  height: 170%;
  filter: blur(120px);
  transition: all 0.5s ease;
}

.title:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@-webkit-keyframes hue-banner {
  from {
    -webkit-filter: blur(100px) hue-rotate(0deg) grayscale(0.5);
  }
  to {
    -webkit-filter: blur(100px) hue-rotate(-360deg) grayscale(0.5);
  }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.card {
  outline-style: solid;
  outline-width: 3px;
  outline-color: #4d4d4d;
  border-radius: 15px;
  padding: 20px;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 30px 0;
}

.card:hover {
  transform: scale(1.01);
  outline-color: #ffffff;
}

.card p {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.page-title {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.card-image {
  width: 70px;
  border-radius: 15px;
  padding: 5px;
}

.gr-black {
  background-image: -webkit-linear-gradient(92deg, #0f0f0f, #292929);
}

.gr-orange {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
}

.gr-green {
  background-image: -webkit-linear-gradient(92deg, #0b924f, #5fe9a4);
}

.gr-blue {
  background-image: -webkit-linear-gradient(92deg, #1a37d6, #4f66e7);
}

.gr-purple {
  background-image: -webkit-linear-gradient(92deg, #921cb3, #d17aea);
}

.gr-red {
  background-image: -webkit-linear-gradient(92deg, #ce1c3a, #db5168);
}

.gr-fitai {
  background-image: -webkit-linear-gradient( #006769, #40A578, #9DDE8B );
}

.gr-css {
  background-image: -webkit-linear-gradient(92deg, #016cb6, #28a3d8);
}

.gr-html {
  background-image: -webkit-linear-gradient(92deg, #de4b24, #ec6329);
}

.gr-js {
  background-image: -webkit-linear-gradient(92deg, #dba301, #fbb927);
}

.banner {
  width: 100%;
  height: 300px;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-animation: hue-banner 30s infinite linear;
}

.banner-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-center h1 {
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 80px;
  transition: 0.5s;
}

.banner-center h1:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.banner-container {
  position: relative;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
}

.main-content {
  margin: 50px 200px 50px 200px;
}

.main-page-advice img {
  width: 70px;
  animation: jump 3s infinite;
}

.main-page-advice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: 1fr auto auto;
  align-items: center;
  justify-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 20px 0;
}

@keyframes jump {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.previous-page-button {
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
}

.previous-page-button:hover {
  transform: scale(1.1);
}

.previous-page-button-container {
  display: flex;
  justify-content: space-between;
}

.tag-badge {
  background-color: rgb(0, 0, 0);
  padding: 2px 10px 2px 10px;
  border-radius: 100px;
  font-size: 15px !important;
}

.tags {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.card-info {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  gap: 5px;
  
}

.card-info p {
  margin: 0;
}

.project-desc {
  font-size: 15px !important;
}

.project-title {
  font-weight: 700;
}

main {
  z-index: 1;
  position: absolute;
}
