html {
	background: #1e2021;
}

.fs, body, main, html {
    width: 100%;
    height: 100%;
    margin: 0;
} 

.title {
	font-family: "Montserrat", sans-serif;
	font-size: 6rem;
	font-weight: 800;
	letter-spacing: 2px;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 30s infinite linear;
    transition: 0.5s;
    cursor: pointer;
}

.title:hover {
    font-size: 6.5rem;
    transition: 0.5s;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
