/* :root {
    --header-height: 100px;
    --theme-color: rgb(0, 0, 0);
    --theme-color-60: rgba(0, 0, 0, 0.6);
    --theme-color-op: rgb(255, 255, 255);
} */

:root {
    --header-height: 100px;
    --theme-color: rgb(255, 255, 255);
    --theme-color-op: rgb(0, 0, 0);
    --theme-color-60: rgba(255, 255, 255, 0.6);
    --theme-color-2: #e7e7e7;
}

* {
    box-sizing: border-box;
}

a p {
    margin: 0;
}


/* Main */
main {
    flex-grow: 1;
    background: linear-gradient(
        #006769,
        #40A578,
        #9DDE8B 
    );
}

.theme-1 {
    flex-grow: 1;
    background: linear-gradient(
        #90cf38,
        #8bdad3,
        #8ac5e3 
    );
    /* min-height: 1600px; */
    padding-top: var(--header-height);
}

.theme-dark {
    flex-grow: 1;
    background: linear-gradient(
        #558a8e,
        #5b637a,
        #955c33 
    );
    /* min-height: 1600px; */
    padding-top: var(--header-height);
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-dashboard {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin-bottom: 30px;

    @media only screen and (max-width: 800px) {
        row-gap: 30px;
        flex-direction: column;
        column-gap: 0;
    }
}

.left {
    width: 30%;

    @media only screen and (max-width: 800px) {
        width: 100%;
    }
}

.right {
    position: relative;
    width: 70%;
    min-height: 100%;
    background-color: var(--theme-color-60);
    border: 4px solid var(--theme-color);
    border-radius: 20px;
    padding: 20px;
    min-height: 100%;

    @media only screen and (max-width: 800px) {
        width: 100%;
        min-height: 500px;
    }
}

.right-error {
    background-color: rgba(255, 170, 170, 0.6);
    border: 4px solid #f03d3d;
}

.loader-wrapper {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-wrapper.active {
    display: block;
}

#output {
    font-family: "Inter", sans-serif;
    color: var(--theme-color-op); 
}

#output a {
    color: #1c6354;
}

#output h1 {
    color: var(--theme-color-op); 
}

#output h2 { 
    color: var(--theme-color-op); 
}
            
#output ul { 
    list-style-type: disc; padding-left: 20px; 
}

#output li { 
    margin-bottom: 10px;
}

.title {
    color: var(--theme-color);
    font-size: 85px;
    font-weight: 900;
    margin: 40px 0;
    text-align: center;

    @media only screen and (max-width: 800px) {
        font-size: 50px;
    }
}

.text-center {
    text-align: center;
}

.mx-center {
    display: flex;
    justify-content: center;
}

.mx-auto {
    margin: 0 auto;
}

.full {
    width: 100%;
}

.hero p {
    color: var(--theme-color);
}

.hero-description {
    font-size: 32px;
}

input, select {
    background-color: var(--theme-color-60);
    border: 4px solid var(--theme-color);
    border-radius: 20px;
    box-shadow: none;
    color: var(--theme-color-op);
    font-size: 20px;
    outline: none;
    padding: 25px;
    margin-bottom: 10px;
    width: 100%;
}

.form--sign-up {
    input[type="password"] {
        width: 49%;

        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }

    input[type="text"] {
        width: 49%;

        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }
}

input::placeholder {
    color: var(--theme-color-op);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    opacity: 1;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 20px 15px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    min-height: 90px;
}

button:hover {
    cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
}

.button:hover {
    opacity: 90%;
    text-decoration: none;
}

.button p {
    margin: 0;
    padding: 0;
}

.button--light {
    background-color: var(--theme-color);
    color: var(--theme-color-op);
}

.button--dark {
    background-color: var(--theme-color-op);
    color: var(--theme-color);
}

.button--half {
    width: 49%;

    @media only screen and (max-width: 600px) {
        width: 100%;
    }
}

.button-container {
    column-gap: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        gap: 10px;
    }
}

.get-started-button {
    background-color: var(--theme-color);
    border-radius: 20px;
    display: inline-flex;
    padding: 15px 40px;
}

.get-started-button p {
    color: var(--theme-color-op);
    font-size: 24px;
    margin: 0;
}

/* All */
body {
    display: flex;
    flex-direction: column;
    transform-origin: top left; 
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Other */
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.form-wrapper {
    margin: 0 auto;
    max-width: 500px;
    width: 80%;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}



input:focus {
    box-shadow: 0 0 5px var(--theme-color);
  }



footer {
    margin-top: auto;
}

.loader {
    width: 100px;
    height: 100px;
    background: linear-gradient(
      165deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(220, 220, 220) 40%,
      rgb(170, 170, 170) 98%,
      rgb(10, 10, 10) 100%
    );
    border-radius: 50%;
    position: relative;
}

.loader:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
        0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
        0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
        0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
}

@keyframes rotate {
    100% { transform: rotate(360deg) }
}

.goto-sign-in {
    margin-top: 10px;
    text-decoration-color: var(--theme-color);
}

.form-wrapper div {
    color: var(--theme-color);
    margin-bottom: 10px;
}

.input-badge {
    background-color: white;
    border-radius: 20px 0 10px 0;
    max-width: 1000px;
    padding: 5px 5px 5px 10px;
    font-size: 12px;
    position: absolute;
    margin: 0 0 20px 0px;
}